In [2]:
print("My name is %s and i am belongs to %s"%("Abhinav","Azamgarh"))

My name is Abhinav and i am belongs to Azamgarh

In [7]:
a="Abhinav"
b="Soni"
print(a*5)

AbhinavAbhinavAbhinavAbhinavAbhinav

In [11]:
a+b

'AbhinavSoni'

In [12]:
print(a+b)

AbhinavSoni

In [13]:
a[1:5]

'bhin'

In [14]:
a[2:-2]

'hin'

In [16]:
a[-7:2]

'Ab'

In [17]:
a[2:-7]

''

In [18]:
'inav' in a

True

In [20]:
Para="""I am a 
B.tech 3rd year student
from IMS 
Engineering College"""
print(Para)

I am a
B.tech 3rd year student
from IMS
Engineering College

In [ ]:
a="I am Abhinav and i am studing in IMS college"
a.find("Abhinav")

In [29]:
a.rfind("Abhinav")

46

In [34]:
a.find("ss")

-1

In [36]:
a.find("Abhinav",20,len(a))

46

In [37]:
a=a.replace("Abhinav","Noorshed")
print(a)

I am Noorshed, and i am studing in IMS college Noorshed

In [40]:
a.count("Abhinav")

0

In [41]:
a.count("Noorshed")

2

In [51]:
"-".join(a)

'I- -a-m- -N-o-o-r-s-h-e-d-,- -a-n-d- -i- -a-m- -s-t-u-d-i-n-g- -i-n- -I-M-S- -c-o-l-l-e-g-e- -N-o-o-r-s-h-e-d'

In [48]:
l=a.split()
print(l)

['I', 'am', 'Noorshed,', 'and', 'i', 'am', 'studing', 'in', 'IMS', 'college', 'Noorshed']

In [50]:
"-".join(l)

'I-am-Noorshed,-and-i-am-studing-in-IMS-college-Noorshed'

In [54]:
company=("qlour shop")
company.capitalize()                        #  capitalization function will be work for capitalization only for first letter not for each each word

'Qlour shop'

In [55]:
company=("qlour shop")
company.title()               #  title function will be work for capitalization first letter of each word.

'Qlour Shop'

# List
->List is like a array,hetrogneous list

In [208]:
Z=[1,2,2.5,"Abhinav"]
print(Z)
print(type(Z))

[1, 2, 2.5, 'Abhinav']
<class 'list'>

In [59]:
l1=[5,6,7,"Noorshed","Abhinav"]
print(l1)

[5, 6, 7, 'Noorshed', 'Abhinav']

In [209]:
l2=l1+Z
print(l2)

[5, 6, 7, 'Noorshed', 'Abhinav', 1, 2, 2.5, 'Abhinav']

In [72]:
l2.extend(l1)

In [73]:
print(l2)

[5, 6, 7, 'Noorshed', 'Abhinav', 1, 2, 2.5, 'Abhinav', 5, 6, 7, 'Noorshed', 'Abhinav', 5, 6, 7, 'Noorshed', 'Abhinav', 5, 6, 7, 'Noorshed', 'Abhinav', 5, 6, 7, 'Noorshed', 'Abhinav', 5, 6, 7, 'Noorshed', 'Abhinav', 5, 6, 7, 'Noorshed', 'Abhinav', 5, 6, 7, 'Noorshed', 'Abhinav', 5, 6, 7, 'Noorshed', 'Abhinav', 5, 6, 7, 'Noorshed', 'Abhinav', 5, 6, 7, 'Noorshed', 'Abhinav', 5, 6, 7, 'Noorshed', 'Abhinav', 5, 6, 7, 'Noorshed', 'Abhinav']

In [76]:
#list of the square of the numbers 
L3=[i*i for i in range(1,8)]
print(L3)

[1, 4, 9, 16, 25, 36, 49]

In [89]:
l3=[1,2,6,9,8]
print(l3[0:4])
print(l3[1:5])

[1, 2, 6, 9]
[2, 6, 9, 8]

# Append,Insert,Pop,Remove,Delete

In [90]:
l=[1,2,3]
l.append("Abhinav")
print(l)

[1, 2, 3, 'Abhinav']

In [95]:
l=[1,2,3,4]
l.append(["Anuj,Noorshed"])
print(l)

[1, 2, 3, 4, ['Anuj,Noorshed']]

In [99]:
l=[1,2,3,4]
l=l+[8,9,[13,12]]
print(l)

[1, 2, 3, 4, 8, 9, [13, 12]]

In [107]:
print(l[6][1])

12

In [108]:
print(l[6])

[13, 12]

In [113]:
l.remove(3)
print(l)

[1, 2, 8, 9, [13, 12]]

In [218]:
del(l[1])
print(l)

[5, 9, 8, 7, 5]

In [220]:
l.pop()
print(l)

[5, 9, 8]

In [120]:
A=[1, 9, [13, 12]]
A.pop(1)
print(A)

[1, [13, 12]]

In [121]:
b=[1,2,3,4,5,6,7,8,9]
b.pop()
print(b)

[1, 2, 3, 4, 5, 6, 7, 8]

In [122]:
b.pop(6)
print(b)

[1, 2, 3, 4, 5, 6, 8]

In [124]:
b.insert(2,"Abhinav")
print(b)

[1, 2, 'Abhinav', 3, 4, 5, 6, 8]

In [127]:
for i in range(len(b)):
    print(b[i])

1
2
Abhinav
3
4
5
6
8

In [130]:
for x in (b):
    print(x)

1
2
Abhinav
3
4
5
6
8

In [134]:
l=[1,2,3,5,7,9,74,25,56,11]
print(max(l))

74

In [135]:
print(min(l))

1

# Linear search

In [137]:
l=[1,2,3,5,9,45,66]
print(l.index(45))

5

# Sorting

In [139]:
l=[9,5,2,8,7,11,45,62,26,58]
l.sort()
print(l)                        #1rst method for shorting

[2, 5, 7, 8, 9, 11, 26, 45, 58, 62]

In [140]:
l=[9,5,2,8,7,11,55,45,62,26,58]
l=sorted(l)
print(l)                         #2nd  method for shorting

[2, 5, 7, 8, 9, 11, 26, 45, 55, 58, 62]

In [141]:
l=[9,5,2,8,7,11,45,62,26,58]
l.sort(reverse=True)
print(l)

[62, 58, 45, 26, 11, 9, 8, 7, 5, 2]

In [155]:
numbers = [int (number) for number in input().split()]
print(numbers)
print(type(numbers))

1234
[1234]
<class 'list'>

# Touples

In [156]:
t=(1,2,3,4,"Abhinav")
print(t)

(1, 2, 3, 4, 'Abhinav')

In [160]:
#t[0]=5
print(t[0])               #touples are not muttable

1

In [213]:
#convert a touple into a list
t=(1,2,3,4)
l6=list(t)
print(l6)

TypeError: 'list' object is not callable

In [212]:
l6=[1,2,3,6,9]
l6[0]=5
print(l6)

[5, 2, 3, 6, 9]

# Dictionary

In [180]:
d={"Name":"Abhinav",
  "Class":"B.tec",
  "Roll No":12345}
print(d)

{'Name': 'Abhinav', 'Class': 'B.tec', 'Roll No': 12345}

In [181]:
d["State"]="U.P."
print(d)

{'Name': 'Abhinav', 'Class': 'B.tec', 'Roll No': 12345, 'State': 'U.P.'}

In [198]:
print(d["Name"])
print(d.get("Name"))
print(d.get("Nmaes"))              #this function show not available key. 
print(type(d.get("Nmaes")))        # this is none type function
print(d["Names"])                  #but this willl be show error

Abhinav
Abhinav
None
<class 'NoneType'>

KeyError: 'Names'

In [183]:
print(type(d))

<class 'dict'>

In [184]:
d["Pineapple"]="Small:90,Large:120"
print(d)

{'Name': 'Abhinav', 'Class': 'B.tec', 'Roll No': 12345, 'State': 'U.P.', 'Pineapple': 'Small:90,Large:120'}

In [186]:
print(d.keys())

dict_keys(['Name', 'Class', 'Roll No', 'State', 'Pineapple'])

In [187]:
print(d.values())

dict_values(['Abhinav', 'B.tec', 12345, 'U.P.', 'Small:90,Large:120'])

In [199]:
print(d.items())

dict_items([('Name', 'Abhinav'), ('Class', 'B.tec'), ('Roll No', 12345), ('State', 'U.P.'), ('Pineapple', 'Small:90,Large:120')])

In [222]:
del d["Pineapple"]
print(d)

{'Name': 'Abhinav', 'Class': 'B.tec', 'Roll No': 12345, 'State': 'U.P.'}

In [224]:
d1={"Village":"Bachhawal"}
d.update(d1)
print(d)

{'Name': 'Abhinav', 'Class': 'B.tec', 'Roll No': 12345, 'State': 'U.P.', 'Village': 'Bachhawal'}

In [225]:
print(len(d))

5

In [226]:
d.clear()
print(len(d))

0

In [227]:
L=["Abhinav","Aakash","Sumit"]
L2=[23,20,22]
D=dict(zip(L,L2))
print(D)

{'Abhinav': 23, 'Aakash': 20, 'Sumit': 22}

In [231]:
for k in D.keys():
    print(k)

Abhinav
Aakash
Sumit

In [232]:
for k in D.values():
    print(k)

23
20
22

# Set Data Structure

In [233]:
s=set([1,2,5,8,11,5,2,36])
print(s)
print(type(s))

{1, 2, 36, 5, 8, 11}
<class 'set'>

In [253]:
s1={1,2,5,8,11,5,2,36}
print(s1)
print(type(s1))

{1, 2, 36, 5, 8, 11}
<class 'set'>

In [243]:
s1.add(45)
print(s1)

{1, 2, 36, 5, 8, 11, 45}

In [245]:
s.union(s1)

{1, 2, 5, 8, 11, 36, 45}

In [254]:
s|s1

{1, 2, 5, 8, 11, 36, 45}

In [258]:
s.intersection(s1)
s&(s1)                 #both type for intersection find

{1, 2, 5, 8, 11, 36}

In [259]:
s-s1

{45}

In [268]:
s2={1,2,3,8,6,45}
if 55 in s2:
    print("present")
else:
    print("Not Present")
    print(type(s2))

Not Present
<class 'set'>

In [269]:
s3={1,2,5,9,47,63}
print(s2^s3)

{3, 5, 6, 8, 9, 45, 47, 63}

In [271]:
s3.clear()
print(s3)

set()