<a href="https://colab.research.google.com/github/Abhianv47/Python-Codes/blob/master/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Print first 10 natural number using while loop

In [18]:
i=0
while i<=10 :
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9
10

# Print the following pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 **5**

In [37]:
i=6
j=6
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end=" ")
  print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# Accept number from user and calculate the um of all number from 1 to a given number

In [50]:
a=int(input("Enter the number="))
c=0
for i in range(1,a+1):
  c+=i
print(c)

Enter the number=10
55

# Print multiplication table of a given number

In [61]:
a=int(input("Enter the number= "))
for i in range (1,11):
  c=i*a
  print(c)

Enter the number= 5
5
10
15
20
25
30
35
40
45
50

# Given a list,iterable it,and display numbers divisible by five, and if you find a number greater than 150,stop the loop iteration. L=[12,15,32,42,55,75,122,132,150,180,200]

In [64]:
List=[12,15,32,42,55,75,122,132,150,180,200]
for i in List:
  if(i>150):
    break
  if (i%5==0):
    print(i)

15
55
75
150

# Given a number count the total number of digits in a number

In [75]:
a=int(input("Enter the number = "))
b=0
while a!=0 :
  a//=10
  b+=1
print(b)

Enter the number = 123
3

# Print the following pattern using for loop

In [94]:
i=6
b=6
for i in range(1,6):
  for j in range(b-i,0,-1):
   print(j,end=" ")
  print(" ")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1