<a href="https://colab.research.google.com/github/Abhianv47/Python-Codes/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
a=1
b=2
print(a+b)
A="1"
B="6"
print(A+B)
x=v=e="Abhinav"
print(x)
A,B,C=1,2,3
print(A)
print(B)
print(C)

3
16
Abhinav
1
2
3

In [10]:
a=1
b=2
print(a)
print(b)
print(type(a))
print(type(b))
c=int(3)
print(c)
print(type(c))
d=float(10)
print(d)
print(type(d))

1
2
<class 'int'>
<class 'int'>
3
<class 'int'>
10.0
<class 'float'>

In [14]:
x=10
y=10.30
z=52j
print("x is ")
print(type(x))
print("y is ")
print(type(y))
print("z is " )
print(type(z))

x is
<class 'int'>
y is
<class 'float'>
z is
<class 'complex'>

In [29]:
import random
print(random.randrange(1,20))

14

In [32]:
x=1
y=10.2
print(type(x))
x=str(1)
print(x)
print(type(x))
print(type(y))
y=int(10.2)
print(y)
print(type(y))

<class 'int'>
1
<class 'str'>
<class 'float'>
10
<class 'int'>