<a href="https://colab.research.google.com/github/Abhianv47/Python-Codes/blob/master/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
fruits=["Apple","Banana","Orange"]
print(type(fruits))
print(fruits[0])
print(len(fruits))

<class 'list'>
Apple
3

# Range of Index

In [15]:
fruits=["Apple","Banana","Orange"]
print(fruits[0:20])
if "Banana" in fruits:
  print("YES")

['Apple', 'Banana', 'Orange']
YES

In [19]:
fruits=["Apple","Banana","Orange","Mango","Guava"]
print(fruits)
fruits[2]="Pineapple"
print(fruits)
newfruits="watermalen","kiwi","peach"
fruits[1:3]=newfruits
print(fruits)

['Apple', 'Banana', 'Orange', 'Mango', 'Guava']
['Apple', 'Banana', 'Pineapple', 'Mango', 'Guava']
['Apple', 'watermalen', 'kiwi', 'peach', 'Mango', 'Guava']

In [30]:
fruits=["Apple","Banana","Orange","Mango","Guava"]
fruits.insert(2,"kiwi")
print(fruits)
fruits.append("Pineapple")
print(fruits)
newfruits=["watermalen","plum","peach"]
fruits.extend(newfruits)
print(fruits)
fruits.remove("Orange")
print(fruits)
fruits.pop(2)
print(fruits)
fruits.pop()
print(fruits)
del fruits[0]
print(fruits)

['Apple', 'Banana', 'kiwi', 'Orange', 'Mango', 'Guava']
['Apple', 'Banana', 'kiwi', 'Orange', 'Mango', 'Guava', 'Pineapple']
['Apple', 'Banana', 'kiwi', 'Orange', 'Mango', 'Guava', 'Pineapple', 'watermalen', 'plum', 'peach']
['Apple', 'Banana', 'kiwi', 'Mango', 'Guava', 'Pineapple', 'watermalen', 'plum', 'peach']
['Apple', 'Banana', 'Mango', 'Guava', 'Pineapple', 'watermalen', 'plum', 'peach']
['Apple', 'Banana', 'Mango', 'Guava', 'Pineapple', 'watermalen', 'plum']
['Banana', 'Mango', 'Guava', 'Pineapple', 'watermalen', 'plum']

In [33]:
fruits=["Apple","Banana","Orange","Mango","Guava"]
print(fruits)

['Apple', 'Banana', 'Orange', 'Mango', 'Guava']

In [34]:
fruits=["Apple","Banana","Orange","Mango","Guava"]
del fruits
print(fruits)

NameError: ignored

In [35]:
fruits=["Apple","Banana","Orange","Mango","Guava"]
print(fruits)
fruits.clear()
print(fruits)

['Apple', 'Banana', 'Orange', 'Mango', 'Guava']
[]

## Tuples

In [41]:
animals=("Dog","Cat","Elephant","Lion")
print(type(animals))
report=("Abhinav",24,3,6,60.36)
print(type(report))
print(animals)
print(animals[1])

<class 'tuple'>
<class 'tuple'>
('Dog', 'Cat', 'Elephant', 'Lion')
Cat

In [45]:
animals=("Dog","Cat","Elephant","Lion")
print(animals[0])
print(animals[0:3])
print(animals[-2])
print(animals[-5:-1])

Dog
('Dog', 'Cat', 'Elephant')
Elephant
('Dog', 'Cat', 'Elephant')

In [47]:
animals=("Dog","Cat","Elephant","Lion","Dog","Dog","Dog")
print(animals.count("Dog"))

4

In [48]:
animals=("Dog","Cat","Elephant","Lion")
print(animals.index("Cat"))

1

In [49]:
animals=("Dog","Cat","Elephant","Lion")
print(len(animals))

4

# Set

In [64]:
animals={"Dog","Cat","Elephant","tiger","Lion","tiger"}
print(animals)
print(type(animals))
print(len(animals))

{'Cat', 'Lion', 'Dog', 'Elephant', 'tiger'}
<class 'set'>
5

In [69]:
animals=("Dog","Cat","Elephant","Lion")
for x in animals:
  print(x)
  print("God" in animals)
  print("Dog" in animals)

Dog
False
True
Cat
False
True
Elephant
False
True
Lion
False
True

In [74]:
animals={"Dog","Cat","Elephant","Lion"}
print(animals)
animals.add("Zebra")
print(animals)
newanimals={"Pig","Puppy"}
animals.update(newanimals)
print(animals)

{'Lion', 'Elephant', 'Dog', 'Cat'}
{'Cat', 'Lion', 'Dog', 'Elephant', 'Zebra'}
{'Cat', 'Lion', 'Puppy', 'Pig', 'Dog', 'Elephant', 'Zebra'}

In [76]:
animals={"Dog","Cat","Elephant","Lion"}
animals.remove("Cat")
print(animals)

{'Lion', 'Elephant', 'Dog'}

In [77]:
animals={"Dog","Cat","Elephant","Lion"}
animals.discard("Dog")
print(animals)

{'Lion', 'Elephant', 'Cat'}

In [79]:
animals={"Dog","Cat","Elephant","Lion"}
animals.remove("Tiger")   #remove will show error if element not available in set at that time.
print(animals)
animals.discard("Tiger")
print(animals)

KeyError: ignored

In [82]:
animals={"Dog","Cat","Elephant","Lion"}
#animals.remove("Tiger")   #remove will show error if element not available in set at that time.
animals.discard("Tiger")     # discard will not show error when elements is not available in set
print(animals)

{'Lion', 'Elephant', 'Dog', 'Cat'}

In [85]:
animals={"Dog","Cat","Elephant","Lion"}
print(animals)          #it will show error because using del keyword set has been deleted
del animals
print(animals)

{'Lion', 'Elephant', 'Dog', 'Cat'}

NameError: ignored

In [87]:
animals={"Dog","Cat","Elephant","Lion"}
animals.pop()
print(animals)

{'Elephant', 'Dog', 'Cat'}

In [90]:
animals={"Dog","Cat","Elephant","Lion"}
animals.clear()
print(animals)

set()

# Dictionaryt

In [99]:
Student = {"Name":"Abhinav",
           "Rollno":1714310006,
           "Course":"B.Tech"}
print(Student)
print(type(Student))
print(Student["Name"])
Student["Rollno"]=11
print(Student)

{'Name': 'Abhinav', 'Rollno': 1714310006, 'Course': 'B.Tech'}
<class 'dict'>
Abhinav
{'Name': 'Abhinav', 'Rollno': 11, 'Course': 'B.Tech'}

In [103]:
Student = {"Name":"Abhinav",
           "Rollno":1714310006,     # duplicate value will not count in the length
           "Rollno":565656,         #duplicate value will not be accept so in duplicate value latest va;ue will be count
           "Rollno":1234567889,
           "Course":"B.Tech"}
print(Student)
print(len(Student))

{'Name': 'Abhinav', 'Rollno': 1234567889, 'Course': 'B.Tech'}
3

In [106]:
Student = {"Name":"Abhinav",
           "Rollno":1714310006,
           "Course":"B.Tech"}
x=Student.get("Name")       #using get() keyword we can access the value of any key
print(x)
x=Student.keys()
print(x)

Abhinav
dict_keys(['Name', 'Rollno', 'Course'])

In [108]:
 Student = {"Name":"Abhinav",
           "Rollno":1714310006,
           "Course":"B.Tech"}
Student["Age"]=25
print(Student)
x=Student.keys()
print(x)

{'Name': 'Abhinav', 'Rollno': 1714310006, 'Course': 'B.Tech', 'Age': 25}
dict_keys(['Name', 'Rollno', 'Course', 'Age'])

In [110]:
 Student = {"Name":"Abhinav",
           "Rollno":1714310006,
           "Course":"B.Tech"}
Student["Age"]=25
x=Student.values()
print(x)

dict_values(['Abhinav', 1714310006, 'B.Tech', 25])

In [112]:
 Student = {"Name":"Abhinav",
           "Rollno":1714310006,
           "Course":"B.Tech"}
Student["Age"]=25
x=Student.items()
print(x)

dict_items([('Name', 'Abhinav'), ('Rollno', 1714310006), ('Course', 'B.Tech'), ('Age', 25)])

In [114]:
 Student = {"Name":"Abhinav",
           "Rollno":1714310006,
           "Course":"B.Tech"}
Student["Age"]=25
print(Student)
Student["Name"]="Akash"         #update dictionary by passing key of dictionafry
print(Student)

{'Name': 'Abhinav', 'Rollno': 1714310006, 'Course': 'B.Tech', 'Age': 25}
{'Name': 'Akash', 'Rollno': 1714310006, 'Course': 'B.Tech', 'Age': 25}

In [117]:
 Student = {"Name":"Abhinav",
           "Rollno":1714310006,
           "Course":"B.Tech"}
print(Student)
Student.update({"Rollno":12})          #update  key's value which in dictionary by update() keyword
print(Student)
Student.update({"Age":25})          #update  new key and its values in dictionary by update() keyword
print(Student)

{'Name': 'Abhinav', 'Rollno': 1714310006, 'Course': 'B.Tech'}
{'Name': 'Abhinav', 'Rollno': 12, 'Course': 'B.Tech'}
{'Name': 'Abhinav', 'Rollno': 12, 'Course': 'B.Tech', 'Age': 25}

In [122]:
Student = {"Name":"Abhinav",
           "Rollno":1714310006,
           "Course":"B.Tech"}
print(Student)
Student.popitem()
print(Student)
Student["Age"]=25
print(Student)
Student.popitem()
print(Student)

{'Name': 'Abhinav', 'Rollno': 1714310006, 'Course': 'B.Tech'}
{'Name': 'Abhinav', 'Rollno': 1714310006}
{'Name': 'Abhinav', 'Rollno': 1714310006, 'Age': 25}
{'Name': 'Abhinav', 'Rollno': 1714310006}

In [124]:
Student = {"Name":"Abhinav",
           "Rollno":1714310006,
           "Course":"B.Tech"}
print(Student)
Student.pop("Course")
print(Student)

{'Name': 'Abhinav', 'Rollno': 1714310006, 'Course': 'B.Tech'}
{'Name': 'Abhinav', 'Rollno': 1714310006}

In [125]:
Student = {"Name":"Abhinav",
           "Rollno":1714310006,
           "Course":"B.Tech"}
print(Student)
del Student["Name"]
print(Student)

{'Name': 'Abhinav', 'Rollno': 1714310006, 'Course': 'B.Tech'}
{'Rollno': 1714310006, 'Course': 'B.Tech'}

In [126]:
Student = {"Name":"Abhinav",
           "Rollno":1714310006,
           "Course":"B.Tech"}
print(Student)
Student.clear()
print(Student)

{'Name': 'Abhinav', 'Rollno': 1714310006, 'Course': 'B.Tech'}
{}

In [127]:
Student = {"Name":"Abhinav",
           "Rollno":1714310006,
           "Course":"B.Tech"}
print(Student)
Stu=Student.copy()
print(Stu)

{'Name': 'Abhinav', 'Rollno': 1714310006, 'Course': 'B.Tech'}
{'Name': 'Abhinav', 'Rollno': 1714310006, 'Course': 'B.Tech'}

In [129]:
Student = {"Name":"Abhinav",
           "Rollno":1714310006,
           "Course":"B.Tech"}
print(Student)
Stu=dict(Student)
print(Stu)

{'Name': 'Abhinav', 'Rollno': 1714310006, 'Course': 'B.Tech'}
{'Name': 'Abhinav', 'Rollno': 1714310006, 'Course': 'B.Tech'}