<a href="https://colab.research.google.com/github/Abhianv47/Python-Codes/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
y="My name is Abhinav"
print(y)
print(y[3:7])
print(y)
print(y[-12:])

My name is Abhinav
name
My name is Abhinav
e is Abhinav

In [7]:
y="          My name is"
print(y)
print(y.strip())

          My name is
My name is

In [8]:
y="abhsksjaaakndj"
print(y.replace("a","x"))

xbhsksjxxxkndj

In [15]:
y="My name, os Abhi,nav.Kumar soni"
print(y.split("."))

['My name, os Abhi,nav', 'Kumar soni']

In [18]:
x="My name is Abhinav"
y="I am from Azamgarh"
print(x+" "+y)

My name is Abhinav I am from Azamgarh

In [19]:
x=26
y="My nam is {}"
print(y.format(x))

My nam is 26

In [21]:
a=5
b=2
c="My name is Abhinav .I am {} old.I am in class {}."
print(c.format(a,b))

My name is Abhinav .I am 5 old.I am in class 2.